*{
    margin: 0%;
}
header section h1{
    color: #03575C;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
}
a{
    text-decoration: none;
    color: #03575C;
}
#botao{
    padding-left: 5%;
  
}
header section input{
    padding: 10%;
    border-radius: 1em;
    border: solid 0.5px #03575C;
    background-color: white;
    font-weight: bold;
    color: #03575C;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo{
    padding-left: 5%;
    
}
header{
    display:flex;
    flex-wrap: wrap;
    padding-top: 1%;
    border-bottom: solid #cecece 0.5px;
    padding-bottom: 1%;
    align-items: center;
    
}

li{
    display: inline;
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
ul{
    display:flex;
flex-wrap: wrap;
 gap: 60px
}
header nav{
padding-left: 46%;

}
header nav ul a :hover {
    color: #009199;
}

/*deve estar nas paginas de sorteio todos*/

main{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
article{
    border: solid #03575C 1px;
    padding:5%;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #03575C;
    font-weight: bolder;
    font-size: 1.1em;
    text-align: center;
    box-shadow:  1px 1px 15px 1px #7c7c7c
    
}
#texto{
    padding-bottom: 5%; 
}
#add{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #03575C;
    padding: 1%;
    font-size: 1.1em;
    background-color: transparent;
    border: solid #03575C 1px;
    border-radius: 5px;
    padding-left: 15%;
    padding-right: 15%;
    
}
#nome{
    width: 80%;
    border: solid #03575C 1px;
    border-radius: 5px;
    padding: 1%;
}
#bot{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #03575C;
    padding: 1%;
    font-size: 1.1em;
    background-color: transparent;
    border: solid #03575C 1px;
    border-radius: 5px;
    padding-left: 15%;
    padding-right: 15%;
    
}
#paragrafoInput{
    padding-bottom: 1%;
}
#resultado{
    padding-top: 5%;
    padding-bottom: 5%;
}
#nomeSorteado{
color: red;    
}

#bot:active {
   
    transform:  scale(0.9);
   
    transition: all .1s ease-in-out 0s;
  }

  #add:active {
   
    transform:  scale(0.9);
   
    transition: all .1s ease-in-out 0s;
  }
#num{
    padding-bottom: 5%;
}
  
  ol{
    padding-left: 0%;
  }

  /* responsividade */
  @media(max-width:1272px){

    header nav{
        padding-left: 36%;
        
        }

  }
  @media(max-width:1042px){

    header nav{
        padding-left: 26%;
        
        }
        main{
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 5%;
            padding-bottom: 5%;
            
        }
  }
  @media(max-width:879px){

    header nav{
        padding-left: 15%;
        
        }
       
  }
  @media(max-width:736px){

    header nav{
        padding-left: 5%;
        
        }
        main{
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 5%;
            padding-bottom: 5%;
            
        }
  }
  @media(max-width:616px){
    header nav{
        padding-left: 2%;
        
        }

    ul{
        display:flex;
    flex-wrap: wrap;
     gap: 20px
    }
        main{
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            
        }
  }
  @media(max-width:396px){
    header nav{
        padding-left: 1%;
        
        }

        main{
            padding-left: 2%;
            padding-right: 2%;
            padding-top: 3%;
            padding-bottom: 5%;
            
        }
     
  }